@model IEnumerable<TwitterClone_MVC_WebAPI.Models.TwitterModal>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  }) |
            @Html.ActionLink("Details", "Details", new {}) |
            @Html.ActionLink("Delete", "Delete", new { })
        </td>
    </tr>
}

</table>
